@charset "utf-8";

@media screen and (max-width:767px) {

  /* toggle버튼, 장바구니, 닫기버튼 숨기기 */
  .total_btn,
  .c_btn {
    display: none;
  }

  /* 헤더 */
  header {
    width: 100%;
    height: 3vh;
    position: fixed;
    background: #fff;
    /* z-index: 9000; */
  }

  .h_top {
    width: 80%;
    height: 50px;
    display: flex;
    margin: 0px 10%;
    /* border: 1px solid #f00; */

  }

  .h_top h1 {
    width: 240px;
    height: 40px;
    left: 0px;
    top: 0px;
    position: absolute;
    /* margin-left: 10%; */
  }

  .h_top h1 img {
    width: 100%;
  }

  .btn_search img,
  .cart_btn,
  .login_btn {
    width: 23px;
    display: block;
    position: absolute;
    top: 5px;
    /* border: 1px solid #f00; */
    padding: 10px;
  }

  .btn_search {
    right: 365px;
    top: 2px;
  }

  .cart_btn {
    right: 250px;
  }

  .login_btn {
    right: 180px;
  }

  .total_btn {
    position: absolute;
    right: 115px;
    top: 0px;
    display: block;
    /* border: 1px solid #f00; */
  }

  .total_btn:hover {
    border: 1px solid #ccc;
    padding-bottom: 12px;
  }

  .total_btn img {
    width: 30px;
    padding: 10px;
  }

  /* 카테고리 메뉴 */
  #toggle {
    display: none;
  }

  .c_btn i {
    color: #fff;
    position: absolute;
    font-size: 1.5rem;
    left: 40px;
    top: 35px;
    display: none;
  }

  #toggle:checked+header .h_bottom>.gnb {
    background-color: #fff;
  }

  .h_bottom {
    width: 100%;
    height: 0px;
    background: #666;
    /* z-index: 9999; */
    position: absolute;
    top: 89px;
    left: 0px;
    overflow: hidden;
    /* border: 1px solid #ccc; */
  }

  .gnb {
    width: 100%;
    background: #fff;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: left 0.5s;
    border: 1px solid #ccc;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #f00; */
    /* z-index: 9000; */
  }

  .gnb>ul {
    display: flex;
    margin: 0 auto;
    float: right;
    right: 0px;
    width: 60%;
    background: #fff;
    line-height: 50px;
    padding-top: 50px;
  }

  .gnb>ul>li {
    text-indent: 50px;
    font-size: 20px;
    font-weight: 500;
    /* border: 1px solid #f00; */
  }

  .gnb>ul>li>a {
    font-size: 15px;
    font-weight: bold;
    color: #333;
  }

  .sub {
    /* position: none; */
    font-weight: 100;
    font-size: 14px;
    color: #000;
    /* line-height: 30px; */
  }

  .sub>li>a {
    width: 100%;
    float: left;
    color: #000 !important;
    border: 1px solid #f00;
    text-align: center;
    /* display: block; */
  }


  /* 메인 */
  main {
    padding-top: 90px;
    /* position: relative; */
  }

  h2 {
    font-size: 2rem;
    font-weight: 900;
  }

  .main_nav {
    position: fixed;
    text-align: center;
    width: 50%;
    height: 3vh;
    top: 45px;
    z-index: 9000;
    margin-left: 30%;
    /* border: 1px solid #f00; */
  }

  .main_nav ul {
    font-size: 0px;
    padding-right: 3%;

  }

  .main_nav ul li {
    width: 10%;
    display: inline-block;
    letter-spacing: -0.8mm;
  }

  .main_nav ul li a {
    /* border: 1px solid #f00; */
    font-size: 1.1rem;
    font-weight: 900;
  }

  /* 메인 영상 */
  #main_video {
    width: 100%;
    /* padding-top: 50px; */
    text-align: center;
  }

  #main_video video {
    width: 100%;
  }

  /* 컨텐츠1 */
  .b_story {
    width: 60%;
    margin: 200px auto;
    font-size: 2rem;
    font-weight: bold;
    /* border: 1px solid #0f0; */
  }

  .main_cnt1 img {
    width: 120%;
  }

  .main_cnt1 {
    display: flex;
    width: 100%;
    margin: 50px 0px;
    text-align: center;
    /* border: 1px solid #f00; */

  }

  .main_cnt1>li {
    margin: 5px;
    float: left;
  }

  .b_story_t2 {
    font-size: 16px;
    font-weight: 600;
  }

  /* 컨텐츠2 */
  .n_best {
    width: 60%;
    margin: 0px auto;
    font-size: 2rem;
    font-weight: bold;
    /* border: 1px solid #f00; */
  }

  .cnt2 {
    border: none;
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
  }

  .cnt2_top {
    margin: 50px 0px 20px;
    display: flex;
    font-size: 12px;
    /* border: 1px solid #f00; */
    gap: 5px;
  }

  .cnt2_nav a {
    display: block;
    padding: 3px 10px;
    border: 1px solid #f5f5f5;
    border-radius: 16px;
    font-weight: 600;
    font-size: 16px;
    color: #999E9C;
    white-space: nowrap;
    cursor: pointer;
    background: #F5F5F5;
    /* transition: 0.75s; */
  }

  .act {
    border: 1px solid #000;
    border-radius: 16px;
    font-weight: 900;
    /* color: #000 !important; */
    white-space: nowrap;
    background: #fff;
  }

  #product {
    position: absolute;
    /* width: 500%; */
    margin: 0px 10% 0px 0px;
    display: flex;
    /* gap: 1%; */
    border: none !important;
  }

  /* 컨텐츠2 이미지 배치 */
  .cnt2_gallery {
    /* border: 1px solid #f00; */
    width: 100%;
    /* border: 1px solid #0f0; */
    display: grid;
    grid-gap: 20px 15px;
    padding: 0px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto) !important;
  }

  /* .cnt2_1{left: 0px;} */
  /* .cnt2_2{left: 20%;} */
  /* .cnt2_3{left: 40%;} */
  /* .cnt2_4{left: 60%;} */
  /* .cnt2_5{left: 80%;} */
  /* .cnt2_gallery > li:nth-child(4) ~ li{display:none;} */


  .cnt2_b_1 {
    /* border: 1px solid #f00; */
    overflow: hidden;
  }

  .cnt2_b_1 a img {
    width: 100%;
  }

  .cnt2_b_1 a ul {
    margin: 10px 0px;
  }

  .cnt2_b_1 a ul li {
    font-size: 12px;
    line-height: 30px;
  }

  .cnt2_b_1 a ul li:first-child {
    font-size: 16px;
    font-weight: 900;
  }

  .cnt2_price1 {
    font-size: 20px;
  }

  .cnt2_price2 {
    font-size: 20px;
    /* color: #f00; */
  }

  /* 컨텐츠3 광고배너 */
  .ad_banner {
    margin-bottom: 50px;
    text-align: center;
    /* border: 1px solid #0f0; */
  }

  .ad_banner a img {
    width: 60%;
  }

  .ad_left {
    width: 5%;
    height: 50%;
    background: #D0DEE0;
    float: left;
    right: 0px;
    top: 0px;
  }

  .ad_right {
    width: 5%;
    height: 10%;
    background: #E6EFF4;
    float: right;
    right: 0px;
    top: 0px;
  }

  /* 컨텐츠4 */
  .limited_set {
    margin: 100px auto;
    width: 60%;
  }

  .cnt4_gallery {
    width: 50%;
    display: grid;
    margin-top: 10px;
    grid-gap: 10px 0px;
    padding: 0px;
    grid-template-columns: repeat(4, 50%);
    grid-template-rows: repeat(1, auto);
  }

  .cnt4_gallery li {
    text-align: center;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
  }

  .cnt4_gallery li img {
    width: 100%;
    height: 80%
  }

  /* 컨텐츠5 */
  .Shopping_benefits {
    /* border: 3px solid #f00; */
    width: 60%;
    height: 700px;
    margin: 0px 20%;
    /* overflow: scroll-y; */
  }

  .Shopping_benefits ul {
    overflow: scroll;
    height: 600px;
    margin-top: 20px;
    width: 100%;
    /* border: 3px solid #0f0; */
  }

  .Shopping_benefits ul li {
    position: relative;
    margin: 10px 0px;
  }

  .Shopping_benefits ul li a span {
    color: #fff;
    position: absolute;
    left: 20px;
    top: 30%;
    font-size: 16px;
    font-weight: 900;
  }

  .Shopping_benefits ul li a img {
    width: 100%;
    filter: brightness(0.7);
    border-radius: 10px;
  }

  .cnt5_allow {
    width: 25%;
    /* border: 1px solid #f00; */
    margin: 10px auto;
    display: flex;


  }

  .fa-solid {
    color: #333;
    box-shadow: 3px 3px 5px #8a8a8a;
    border-radius: 50%;
    font-size: 1.5rem;
    margin: 5px;
    padding: 5px 10px;
  }

  /* 컨텐츠6 */
  .ad_banner2 {
    width: 60%;
    margin: 50px 20%;
  }

  .ad_banner2 a img {
    width: 100%;
  }



  /* 푸터 */
  footer {
    color: #333;
    background: #DEDEDE;
    height: 500px;
    position: relative;
  }

  .f_top a img {
    width: 160px;
  }

  .f_top {
    margin: 0px 20%;
    padding-top: 30px;
  }

  .f_top>li {
    border-bottom: 1px solid #333;
  }

  .f_top>li a {
    margin-right: 10px;
  }

  .f_bottom {
    margin: 0px 0px 0px 18.5%;
    float: left;
    /* border: 1px solid #0f0; */

  }

  footer address {
    line-height: 40px;
    font-size: 14px;
    width: 100%;
    /* border: 1px solid #f00; */
  }
}